
#autocomplete{z-index: 120;}
.readonly {
  background-color: #EEEEEE !important;
}
span.mapstraction-cck-geocoder-result.detail-row-1 {
  font-weight: bold; 
}
span.mapstraction-cck-geocoder-result.detail-row-2 {
  font-size: .9em;
}

.mapstraction-cck-feature-selected { border: 2px solid blue; }

.mapstraction-cck-feature-error { border: 2px solid red; }
	  	 
/* CSS to do not display messages from providers on maps*/
/*.mapstraction-map {display: none;}
.mapstraction-map .olControlAttribution{display:none;}*/
.mapstraction-map {overflow:hidden;}
.mapstraction-map .olControlAttribution{
  bottom: 0;
}
/* CSS for map controls*/
.mapstraction-cck-add-feature-control-active, .mapstraction-cck-edition-control-active, .mapstraction-cck-clear-tags-control-active{
  background-color:#E0EAF1;
  border-bottom:1px solid #3E6D8E;
  border-right:1px solid #7F9FB6;
  color:#3E6D8E;
}

.mapstraction-cck-add-feature-control-inactive, .mapstraction-cck-edition-control-inactive{
  background-color:#3E6D8E;
  border-bottom:1px solid #37607D;
  border-right:1px solid #37607D;
  color:#E0EAF1;
}

.mapstraction-cck-add-feature-limit{
  background-color: gray;
  color:lightGray;
}

.mapstraction-cck-controls div{
  margin: 5px 30px;
  float:left;
  cursor:pointer;
  padding:3px;
  width:130px;
  text-align:center;
}

#edit-mapstraction-cck-controls-clear-tags-msg-wrapper{
  padding-left:22px;
}